// Header left right padding
.header-area {
    .header-top{
        padding: 13px 170px;
        @media #{$laptop}{
            padding: 13px 10px;
        }
        @media #{$lg}{
            padding: 13px 10px;
        }
        @media #{$md}{
            padding: 13px 50px;
        }
        @media #{$sm}{
            padding: 13px 20px;
        }
        @media #{$xs}{
            padding: 13px 20px;
        }
    }
    .header-bottom{
        padding: 0px 170px;
        @media #{$laptop}{
            padding: 0px 10px;
        }
        @media #{$lg}{
            padding: 0px 10px;
        }

        // mobile menu show
        @media #{$md}{
            padding: 12px 25px;
         }
        @media #{$sm}{
            padding: 22px 25px;
         }
        @media #{$xs}{
            padding: 22px 25px;
         }
    }
}

.header-area {
    .header-top{
        .header-info-left{
            // 
            .contact-now{
                padding-left: 30px;
                padding-top: 10px;
                li{
                    color:#fff;
                    font-size: 14px;
                    text-transform: capitalize;
                }
            }
        }
        .header-info-right{
            ul{
                li{
                    display: inline-block;
                    a{
                        padding-left: 36px;
                        font-size: 14px;
                        text-transform: capitalize;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// Header Bottom
.header-bottom{
    // position: relative;
    // z-index: 3;
    .main-menu{
       
        & ul{
            & li{
                display: inline-block;
                position: relative;
                z-index: 1;

                & a{
                    font-size: 16px;
                    color: #000000;
                     display: inline-block; 
                     text-transform: capitalize;
                    padding: 39px 18px;
                    display: block;
                    font-size: 14px;
                    @include transition(.3s);
                    @media #{$lg}{
                        padding: 39px 15px;
                    }
                    @media #{$large1}{
                        padding: 39px 13px;
                    }

                }
                &:hover{
                    & > a{
                        color:$theme-color;
                    }
                }
                &.hot{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "HOT";
                        background:#ff003c;
                        color:#fff;
                        text-align: center;
                        border-radius: 8px;
                        font-size: 10px;
                        top: 19px;
                        right: -13px;

                         @include transition(.2s);
                        box-shadow: 0 2px 5px
                        rgba(0,0,0,0.3);
                        padding: 3px 8px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: 500;
                    }
                }
            }
            & ul.submenu{
                position: absolute;
                width: 170px;
                background: #fff;
                left: 0;
                top: 90%;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                padding: 17px 0;
                border-top: 5px solid $theme-color;
                @include transition(.2s);
                & > li{
                    margin-left: 7px;
                    display: block;
                    & > a{
                        padding: 6px 10px !important;
                        font-size: 14px;
                        color: #0b1c39;
                        text-transform: capitalize;
                        &:hover{
                            color:$theme-color;
                            background: none;
                        }
                        & i{
                            // @include transition(.4s);
                        }
                    }
                } 
            }
        }
    }
    .header-right{
        display: flex !important;
        li{
            padding-left: 20px;
            @media #{$large1}{
                padding-left: 14px;
            }
        }
        .form-box{
            position: relative;
            width: 85%;
            input{
                border: 1px solid rgb(238, 238, 238);
                border-radius: 30px;
                padding: 10px 20px;
                width: 100%;
                
            }
            .search-icon{
                position: absolute;
                top: 12px;
                right: 17px;
                i{
                    color:#6c6a6a;
                    cursor: pointer;
                    
                }
            }
        }
        .favorit-items{
            position: relative;
            &::before{
                position: absolute;
                content: "02";
                width: 25px;
                height: 25px;
                background:#00b1ff;
                color:#fff;
                line-height: 25px;
                text-align: center;
                border-radius: 30px;
                font-size: 12px;
                top: 0px;
                right: -6px;
                @include transition(.2s);
                box-shadow: 0 2px 5pxrgba 0,0,0,0.3;
            }
            i{
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid rgb(238, 238, 238);
                color:#4e4e4e;
                font-size: 19px;
                cursor: pointer;
                
             
            }
        }
        .shopping-card{
            position: relative;
            &::before{
                position: absolute;
                content: "02";
                width: 25px;
                height: 25px;
                background:#00b1ff;
                color:#fff;
                line-height: 25px;
                text-align: center;
                border-radius: 30px;
                font-size: 12px;
                top: 0px;
                right: -6px;
                @include transition(.2s);
                box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            }
            i{
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                border: 1px solid rgb(238, 238, 238);
                color:#4e4e4e;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .logo{
        & img{
            
        }
    }
    // Mobile Menu Positining card
    .fix-card{
        @media #{$xs}{
            position: absolute;
            top: 12px;
            right: 85px;
        }
        
    }
}

// social Footer Animated
.header-area .header-top .header-info-right .header-social a i {
    @include transition(.4s);
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.header-area .header-top .header-info-right .header-social a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}


.main-header ul > li:hover > ul.submenu {
	visibility: visible;
    opacity: 1;
    top: 100%;
}
 
.top-bg{
	background:#000000;
}



// header Sticky Responsive
.header-sticky ul li a {
	padding: 10px 19px;
}

.header-sticky.sticky-bar.sticky .main-menu ul>li>a {
	//padding: 26px 20px;
}

.slicknav_menu .slicknav_icon-bar {
	background-color: $theme-color !important;
}
.slicknav_nav {
	margin-top: 0px;
}

// Sticky  Menu
.header-sticky.sticky-bar.sticky .header-btn {
        & .get-btn{
            padding: 20px 20px;
        }
    }
    .header-area .slicknav_btn {
        @media #{$md}{
            top: -40px;
        }
        top: -30px;

    }
    .slicknav_menu .slicknav_nav a:hover {
        background: transparent;
        color: $theme-color;
    }
    .slicknav_menu {
        background: transparent;
        margin-top: 5px !important;
    }
    .mobile_menu {
        position: absolute;
        right: 0px;
        width: 100%;
        z-index: 99;
    }




// Drop Down
.header-area{
    .nice-select {
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border-radius: 0;
        border: none;
        color: #fff;
    }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
        background-color: #00b1ff;
    }
    .nice-select .list {
        background-color: #000;
    }
    .nice-select::after {
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        height: 7px;
        width: 7px;
        margin-top: -7px;
    }
    .flag{
        padding-top: 8px;
    }
}

.header-bottom .header-right .form-box input::placeholder {

        font-size: 13px;

}