{% load static %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
/>
    {% if messages %} 
    {% for message in messages %}
    <div class="notification is-success is-toast">{{ message }}</div>
    {% endfor %} 
{% endif %}
<div class="col-xl-4 col-lg-4 col-md-6">
    <div class="single-product mb-60">
        <div class="product-img">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{product.title}}">
            {% else %}
            <img src="{{ product.url }}" alt="{{product.title}}">
            {% endif %}
            <div class="new-product">
               {% if product.is_new %}
                <span>New</span>
                {% endif %}
            </div>
        </div>
        <div class="product-caption">
            <h4><a href="{% url 'product_detail'  product.category.slug product.slug %}">
                {{product.title|title}}</a></h4>
            <div class="price">
                <ul>
                    <li>${{product.price}}</li>
                    {% if product.discount %}
                    <li class="discount">${{product.discount}}</li>
                    {% endif %}
                </ul>
            </div>
            <br>
            <a href="{% url 'product_detail'  product.category.slug product.slug %}" class="genric-btn primary">See details</a>
            {% if product.wishlist_exist %}
            <a href="{% url 'add_to_wishlist' product.id %}" class="genric-btn danger-border">Remove from wishlist</a>
            {% else %}
             <a href="{% url 'add_to_wishlist' product.id %}" class="genric-btn primary-border">Add to wishlist</a>
            {% endif %}
        </div>
    </div>
</div>
