{% extends 'core/_base.html' %} 
{% block title %}Profile {% endblock %}
{% load static %} 
{% block body %}
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
/>

<section class="bg-white">
  <div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">
    <nav id="store" class="w-full z-30 top-0 px-6 py-1">
      <div
        class="
          w-full
          container
          mx-auto
          flex flex-wrap
          items-center
          justify-between
          mt-0
          px-2
          py-3
        "
      >
        <nav class="breadcrumb is-small bg-white" aria-label="breadcrumbs">
          <ul>
            <li><a href="#">My Profile</a></li>
            <li class="is-active">
              <a href="#" aria-current="page">My Orders</a>
            </li>

            <li class="is-active">
              <a href="#" aria-current="page">My Reviews</a>
            </li>

            <li class="is-active">
              <a href="#" aria-current="page">My Wishlist & Followed Stores</a>
            </li>
          </ul>
        </nav>
        <a
          class="
            uppercase
            tracking-wide
            no-underline
            hover:no-underline
            font-bold
            text-gray-800 text-xl
          "
          href="#"
        >
        </a>
          <h3 class="is-size-4 has-text-weight-medium has-text-left-mobile has-text-left">Manage My Account</h3>
      </div>
    </nav>
    {% if messages %} 
      {% for message in messages %}
      <div class="notification is-success is-toast">{{ message }}</div>
      {% endfor %} 
    {% endif %}

    <div class="card-content">
        <div class="media">
          <div class="media-left">
              <figure class="image is-128x128">
                <img
                  class="is-rounded"
                  src="https://avatars.githubusercontent.com/u/62835101?v=4"
                />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{customer.full_name}}</p>
              <p class="subtitle is-6">{{customer.email}}</p>
              <hr>
              <h3 class="title is-size-5 has-text-weight-large">Shipping Address</h3>
              <p class="subtitle is-size-6">{{customer.address}} - {{customer.country.name}}
              <br>{{customer.phone_number}}</p>

              <a  href="{% url 'customer_profile_update'%}" class="button is-dark is-small no-underline hover:no-underline">Edit</a>
            </div>
          </div>
        </div>
        <div class="container">
        <h3 class="is-size-4 has-text-weight-medium">Recent Orders</h3>
        <table class="table has-text-centered">
          <tr class="th">
          {% for item in orders %}
              <th>Order No.</th>
              <th>Thumbnail</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Price</th>
          </tr>
       
                   
          <tr>
              <td>{{item.id}}</td>
              <td>
               <figure class="container-fluid image is-96x96">
                <img src="{{item.product_image.url}}">
              </figure> 
              </td>
              <td>{{item.product_title|title}}</td>
              <td>{{item.product_quantity}}</td>
              <td>{{item.product_price}}</td>
          </tr>
       
    
          {% endfor %}
        </table>
      </div>
    </div>
    </div>
  </div>
</section>


    {% block footer %}
        {% include 'core/footer.html' %}
    {% endblock footer %}

{% endblock body %}
