{% extends 'core/_base.html' %} {% block title %}Sign Up As {{user_type|title}}
{% endblock %} {% load static %} {% load crispy_forms_tags %} {% block body %}
<!-- slider Area Start-->
<div class="slider-area">
  <!-- Mobile Menu -->
  <div
    class="single-slider slider-height2 d-flex align-items-center"
    data-background="{% static 'assets/img/hero/category.jpg' %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Sign Up</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Signed up Area Start=================-->
<section class="login_part section_padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="login_part_text text-center">
          <div class="login_part_text_iner">
            <h2>New to our Shop?</h2>
            <p>
              There are advances being made in science and technology everyday,
              and a good example of this is the
            </p>
            <a href="{% url 'customer_sign_up' %}" class="btn_3"
              >Create an Account</a
            >
          </div>
        </div>
      </div>
      <style>
        .lazyselect {
        }
      </style>
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>Welcome!<br />Please Sign Up now</h3>
            <form action="#" method="POST">
              {% csrf_token %}
              {{ form }}
              <div class="col-md-12 form-group">
                <div class="creat_account d-flex align-items-center">
                  <input type="checkbox" id="f-option" name="selector" />
                  <label for="f-option">Remember me</label>
                </div>
                <button type="submit" value="submit" class="btn_3">
                  Sign Up
                </button>
                <a class="lost_pass" href="#">forget password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Signed up Area End=================-->
{% endblock body %}
